backoff==2.2.1
datasets==2.18.0
evaluate==0.4.2
filelock==3.15.1
flash-attn==2.5.8
func_timeout==4.3.5
langchain==0.2.5
langchain_community==0.2.5
langchain_google_genai==1.0.6
langchain_openai==0.1.8
numpy==2.0.0
openai==1.28.1
pandas==2.2.2
peft==0.10.0
requests==2.32.3
tensorboard==2.16.2
tiktoken==0.6.0
torch==2.3.0
tqdm==4.66.2
transformers==4.40.2
vllm==0.4.2
